// Body
$body-bg: #f8fafc;

$color-rose-red: #ff0355;
$color-success-light: #2cd133;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@use 'sass:math';

@function abs($number) {
   @return math.abs($number);
}
